<div class="page-header">
  <h1>CarLog#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li><a href="<%= carLogsPath() %>" class="btn btn-info">Back to all CarLogs</a></li>
</ul>

<p>
  <strong>CarID</strong>: <%= carLog.CarID %>
</p>
<p>
  <strong>TransactionID</strong>: <%= carLog.TransactionID %>
</p>
<p>
  <strong>BlockID</strong>: <%= carLog.BlockID %>
</p>
<p>
  <strong>Payload</strong>: <%= carLog.Payload %>
</p>
<p>
  <strong>Data</strong>: <%= carLog.Data %>
</p>
<p>
  <strong>SubmittedOn</strong>: <%= carLog.SubmittedOn %>
</p>
<p>
  <strong>UpdatedOn</strong>: <%= carLog.UpdatedOn %>
</p>
